@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-primary: rgb(12, 81, 79);
  --color-brand-secondary: rgb(240, 250, 250);
  /* Light variation */
  --font-display: 'Outfit', sans-serif;
  --font-body: 'Outfit', sans-serif;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: #f8fafc;
  background-image:
    radial-gradient(at 0% 0%, rgba(12, 81, 79, 0.05) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(12, 81, 79, 0.05) 0px, transparent 50%);
  color: #1a202c;
  overflow-x: hidden;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Remove black border from input focus */
input:focus, textarea:focus, select:focus {
  outline: none !important;
  

}